.bookingdetails{
    width: 100vw;
    // height: 800px;
    .container-bookingdetails{
        margin: 0 auto;
        // margin: 16px 50px 50px 50px;
        text-align: center;
        margin-top: 500;
        position: relative;
        .row{
            // margin: 16px 50px 50px 50px;
            margin-top: 16px;
            margin-bottom: 50px;
        }
        img{
            height: 400px;
        }
        .name{
            color: #744312;
            text-align:left;
            font-size: 20px;
            margin: 24px;
        }
        .concert-introduction{
            overflow: auto;
            width: 100%;
            max-height: 150px;
            // height: 150px;
            .concert-introduction_span{
                color: #000;
            }
        }
        .price{
            .concert-price_span{
                color: #000;
            }
        }
        .announcer{
            .concert-announcer_span{
                color: #000;
            }
        }
        .book-ticket{
            width: 100px;
            height: 50px;
            background: #ff9933;
            color: #fff;
            text-align: center;
            // line-height: 50px;
            display: block;
            // margin: 80px auto 0;
            border-radius: 5px;
            font-size: 20px;
            font-family: "微软雅黑";
            position: absolute;
            bottom: 4px;
            margin-left: 170px;
        }
    }
}
@media (min-width: 1440px) {
    .container-bookingdetails {
      max-width: 1330px;
    }
    .bookingdetails-logo{
        width: 100%;
    }
    
}