.loading{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: $dashboardBackgroundColor;
    z-index: 999;
    width: 100%;
    height: 100%;
    img{
        position: absolute;
        top: 100px;
        left: 50%;
        margin-left: -16px;
    }
}