.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #131720;
    z-index: 99;
    transition: 0.5s, margin 0s;
    height: 100px;
    .container-header{
      margin: 0 auto;
      text-align: center;
      .select-login{
        margin-top: 35px;
        .header_user{
          width: 80px;
          display: flex;
          align-items: center;
          color: #ffffff;
          cursor: pointer;
        }
        .personal-information{
          width: 150px;
          border-radius: 6px;
          background-color: #151f30;
          // opacity: 0.8;
          color: #ffffff;
          position: absolute;
          right: 70px;
          top: 70px;
          padding: 0 auto;
          .personalName{
            margin: 24px auto 16px;
            cursor: pointer;
          }
        }
      }
      a{
        text-decoration: none;//去掉下划线
        color: inherit;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        -webkit-appearance: none;
        -webkit-text-size-adjust: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-touch-callout: none;
        border-bottom: none;//去掉下边框（用text-decoration: none;没有用是时候加上）；
        display: block;
        width: 100%;
        height: 30px;    
        color: white;
      }
      .header__nav-link{
        flex-direction: row;
        align-items: center;
        top: auto;
        left: auto;
        position: relative;
        // height: 100px;
        padding: 0;
        width: auto;
        z-index: 2;
        background-color: transparent;
        background: none;
        border-bottom: none;
      }
    }
}
@media (min-width: 1440px) {
    .container-header {
      max-width: 1330px;
    }
}